// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../index" as grid with (
    $columns: 2,
    $rows: 2
);

@include describe("grid.core-styles()") {
    @include it("Should return extended grid declarations.") {
        @include assert {
            @include output(false) {
                @include grid.core-styles;
            }

            @include expect(false) {
                .grid {
                    display: grid;
                    column-gap: 12px;
                    row-gap: 12px;
                }

                .grid-flow-col {
                    grid-auto-flow: column;
                }

                .grid-flow-col-dense {
                    grid-auto-flow: column dense;
                }

                .grid-flow-row {
                    grid-auto-flow: row;
                }

                .grid-flow-row-dense {
                    grid-auto-flow: row dense;
                }

                .grid-cols-1 {
                    grid-template-columns: repeat(1, minmax(0, 1fr));
                }

                .grid-cols-2 {
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                }

                .grid-rows-1 {
                    grid-template-rows: repeat(1, minmax(0, 1fr));
                }

                .grid-rows-2 {
                    grid-template-rows: repeat(2, minmax(0, 1fr));
                }

                @media (min-width: 320px) {
                    .xs\:grid-flow-col {
                        grid-auto-flow: column;
                    }

                    .xs\:grid-flow-col-dense {
                        grid-auto-flow: column dense;
                    }

                    .xs\:grid-flow-row {
                        grid-auto-flow: row;
                    }

                    .xs\:grid-flow-row-dense {
                        grid-auto-flow: row dense;
                    }

                    .xs\:grid-cols-1 {
                        grid-template-columns: repeat(1, minmax(0, 1fr));
                    }

                    .xs\:grid-cols-2 {
                        grid-template-columns: repeat(2, minmax(0, 1fr));
                    }

                    .xs\:grid-rows-1 {
                        grid-template-rows: repeat(1, minmax(0, 1fr));
                    }

                    .xs\:grid-rows-2 {
                        grid-template-rows: repeat(2, minmax(0, 1fr));
                    }
                }

                @media (min-width: 480px) {
                    .sm\:grid-flow-col {
                        grid-auto-flow: column;
                    }

                    .sm\:grid-flow-col-dense {
                        grid-auto-flow: column dense;
                    }

                    .sm\:grid-flow-row {
                        grid-auto-flow: row;
                    }

                    .sm\:grid-flow-row-dense {
                        grid-auto-flow: row dense;
                    }

                    .sm\:grid-cols-1 {
                        grid-template-columns: repeat(1, minmax(0, 1fr));
                    }

                    .sm\:grid-cols-2 {
                        grid-template-columns: repeat(2, minmax(0, 1fr));
                    }

                    .sm\:grid-rows-1 {
                        grid-template-rows: repeat(1, minmax(0, 1fr));
                    }

                    .sm\:grid-rows-2 {
                        grid-template-rows: repeat(2, minmax(0, 1fr));
                    }
                }

                @media (min-width: 768px) {
                    .md\:grid-flow-col {
                        grid-auto-flow: column;
                    }

                    .md\:grid-flow-col-dense {
                        grid-auto-flow: column dense;
                    }

                    .md\:grid-flow-row {
                        grid-auto-flow: row;
                    }

                    .md\:grid-flow-row-dense {
                        grid-auto-flow: row dense;
                    }

                    .md\:grid-cols-1 {
                        grid-template-columns: repeat(1, minmax(0, 1fr));
                    }

                    .md\:grid-cols-2 {
                        grid-template-columns: repeat(2, minmax(0, 1fr));
                    }

                    .md\:grid-rows-1 {
                        grid-template-rows: repeat(1, minmax(0, 1fr));
                    }

                    .md\:grid-rows-2 {
                        grid-template-rows: repeat(2, minmax(0, 1fr));
                    }
                }

                @media (min-width: 960px) {
                    .lg\:grid-flow-col {
                        grid-auto-flow: column;
                    }

                    .lg\:grid-flow-col-dense {
                        grid-auto-flow: column dense;
                    }

                    .lg\:grid-flow-row {
                        grid-auto-flow: row;
                    }

                    .lg\:grid-flow-row-dense {
                        grid-auto-flow: row dense;
                    }

                    .lg\:grid-cols-1 {
                        grid-template-columns: repeat(1, minmax(0, 1fr));
                    }

                    .lg\:grid-cols-2 {
                        grid-template-columns: repeat(2, minmax(0, 1fr));
                    }

                    .lg\:grid-rows-1 {
                        grid-template-rows: repeat(1, minmax(0, 1fr));
                    }

                    .lg\:grid-rows-2 {
                        grid-template-rows: repeat(2, minmax(0, 1fr));
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:grid-flow-col {
                        grid-auto-flow: column;
                    }

                    .xl\:grid-flow-col-dense {
                        grid-auto-flow: column dense;
                    }

                    .xl\:grid-flow-row {
                        grid-auto-flow: row;
                    }

                    .xl\:grid-flow-row-dense {
                        grid-auto-flow: row dense;
                    }

                    .xl\:grid-cols-1 {
                        grid-template-columns: repeat(1, minmax(0, 1fr));
                    }

                    .xl\:grid-cols-2 {
                        grid-template-columns: repeat(2, minmax(0, 1fr));
                    }

                    .xl\:grid-rows-1 {
                        grid-template-rows: repeat(1, minmax(0, 1fr));
                    }

                    .xl\:grid-rows-2 {
                        grid-template-rows: repeat(2, minmax(0, 1fr));
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:grid-flow-col {
                        grid-auto-flow: column;
                    }

                    .\32 xl\:grid-flow-col-dense {
                        grid-auto-flow: column dense;
                    }

                    .\32 xl\:grid-flow-row {
                        grid-auto-flow: row;
                    }

                    .\32 xl\:grid-flow-row-dense {
                        grid-auto-flow: row dense;
                    }

                    .\32 xl\:grid-cols-1 {
                        grid-template-columns: repeat(1, minmax(0, 1fr));
                    }

                    .\32 xl\:grid-cols-2 {
                        grid-template-columns: repeat(2, minmax(0, 1fr));
                    }

                    .\32 xl\:grid-rows-1 {
                        grid-template-rows: repeat(1, minmax(0, 1fr));
                    }

                    .\32 xl\:grid-rows-2 {
                        grid-template-rows: repeat(2, minmax(0, 1fr));
                    }
                }

                // Columns

                .col-auto {
                    grid-column: auto;
                }

                .col-span-1 {
                    grid-column: span 1/span 1;
                }

                .col-span-2 {
                    grid-column: span 2/span 2;
                }

                .col-span-full {
                    grid-column: 1/-1;
                }

                .col-start-1 {
                    grid-column-start: 1;
                }

                .col-start-2 {
                    grid-column-start: 2;
                }

                .col-start-3 {
                    grid-column-start: 3;
                }

                .col-start-auto {
                    grid-column-start: auto;
                }

                .col-end-1 {
                    grid-column-end: 1;
                }

                .col-end-2 {
                    grid-column-end: 2;
                }

                .col-end-3 {
                    grid-column-end: 3;
                }

                .col-end-auto {
                    grid-column-end: auto;
                }

                @media (min-width: 320px) {
                    .xs\:col-auto {
                        grid-column: auto;
                    }

                    .xs\:col-span-1 {
                        grid-column: span 1/span 1;
                    }

                    .xs\:col-span-2 {
                        grid-column: span 2/span 2;
                    }

                    .xs\:col-span-full {
                        grid-column: 1/-1;
                    }

                    .xs\:col-start-1 {
                        grid-column-start: 1;
                    }

                    .xs\:col-start-2 {
                        grid-column-start: 2;
                    }

                    .xs\:col-start-3 {
                        grid-column-start: 3;
                    }

                    .xs\:col-start-auto {
                        grid-column-start: auto;
                    }

                    .xs\:col-end-1 {
                        grid-column-end: 1;
                    }

                    .xs\:col-end-2 {
                        grid-column-end: 2;
                    }

                    .xs\:col-end-3 {
                        grid-column-end: 3;
                    }

                    .xs\:col-end-auto {
                        grid-column-end: auto;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:col-auto {
                        grid-column: auto;
                    }

                    .sm\:col-span-1 {
                        grid-column: span 1/span 1;
                    }

                    .sm\:col-span-2 {
                        grid-column: span 2/span 2;
                    }

                    .sm\:col-span-full {
                        grid-column: 1/-1;
                    }

                    .sm\:col-start-1 {
                        grid-column-start: 1;
                    }

                    .sm\:col-start-2 {
                        grid-column-start: 2;
                    }

                    .sm\:col-start-3 {
                        grid-column-start: 3;
                    }

                    .sm\:col-start-auto {
                        grid-column-start: auto;
                    }

                    .sm\:col-end-1 {
                        grid-column-end: 1;
                    }

                    .sm\:col-end-2 {
                        grid-column-end: 2;
                    }

                    .sm\:col-end-3 {
                        grid-column-end: 3;
                    }

                    .sm\:col-end-auto {
                        grid-column-end: auto;
                    }
                }

                @media (min-width: 768px) {
                    .md\:col-auto {
                        grid-column: auto;
                    }

                    .md\:col-span-1 {
                        grid-column: span 1/span 1;
                    }

                    .md\:col-span-2 {
                        grid-column: span 2/span 2;
                    }

                    .md\:col-span-full {
                        grid-column: 1/-1;
                    }

                    .md\:col-start-1 {
                        grid-column-start: 1;
                    }

                    .md\:col-start-2 {
                        grid-column-start: 2;
                    }

                    .md\:col-start-3 {
                        grid-column-start: 3;
                    }

                    .md\:col-start-auto {
                        grid-column-start: auto;
                    }

                    .md\:col-end-1 {
                        grid-column-end: 1;
                    }

                    .md\:col-end-2 {
                        grid-column-end: 2;
                    }

                    .md\:col-end-3 {
                        grid-column-end: 3;
                    }

                    .md\:col-end-auto {
                        grid-column-end: auto;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:col-auto {
                        grid-column: auto;
                    }

                    .lg\:col-span-1 {
                        grid-column: span 1/span 1;
                    }

                    .lg\:col-span-2 {
                        grid-column: span 2/span 2;
                    }

                    .lg\:col-span-full {
                        grid-column: 1/-1;
                    }

                    .lg\:col-start-1 {
                        grid-column-start: 1;
                    }

                    .lg\:col-start-2 {
                        grid-column-start: 2;
                    }

                    .lg\:col-start-3 {
                        grid-column-start: 3;
                    }

                    .lg\:col-start-auto {
                        grid-column-start: auto;
                    }

                    .lg\:col-end-1 {
                        grid-column-end: 1;
                    }

                    .lg\:col-end-2 {
                        grid-column-end: 2;
                    }

                    .lg\:col-end-3 {
                        grid-column-end: 3;
                    }

                    .lg\:col-end-auto {
                        grid-column-end: auto;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:col-auto {
                        grid-column: auto;
                    }

                    .xl\:col-span-1 {
                        grid-column: span 1/span 1;
                    }

                    .xl\:col-span-2 {
                        grid-column: span 2/span 2;
                    }

                    .xl\:col-span-full {
                        grid-column: 1/-1;
                    }

                    .xl\:col-start-1 {
                        grid-column-start: 1;
                    }

                    .xl\:col-start-2 {
                        grid-column-start: 2;
                    }

                    .xl\:col-start-3 {
                        grid-column-start: 3;
                    }

                    .xl\:col-start-auto {
                        grid-column-start: auto;
                    }

                    .xl\:col-end-1 {
                        grid-column-end: 1;
                    }

                    .xl\:col-end-2 {
                        grid-column-end: 2;
                    }

                    .xl\:col-end-3 {
                        grid-column-end: 3;
                    }

                    .xl\:col-end-auto {
                        grid-column-end: auto;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:col-auto {
                        grid-column: auto;
                    }

                    .\32 xl\:col-span-1 {
                        grid-column: span 1/span 1;
                    }

                    .\32 xl\:col-span-2 {
                        grid-column: span 2/span 2;
                    }

                    .\32 xl\:col-span-full {
                        grid-column: 1/-1;
                    }

                    .\32 xl\:col-start-1 {
                        grid-column-start: 1;
                    }

                    .\32 xl\:col-start-2 {
                        grid-column-start: 2;
                    }

                    .\32 xl\:col-start-3 {
                        grid-column-start: 3;
                    }

                    .\32 xl\:col-start-auto {
                        grid-column-start: auto;
                    }

                    .\32 xl\:col-end-1 {
                        grid-column-end: 1;
                    }

                    .\32 xl\:col-end-2 {
                        grid-column-end: 2;
                    }

                    .\32 xl\:col-end-3 {
                        grid-column-end: 3;
                    }

                    .\32 xl\:col-end-auto {
                        grid-column-end: auto;
                    }
                }

                // Rows

                .row-auto {
                    grid-row: auto;
                }

                .row-span-1 {
                    grid-row: span 1/span 1;
                }

                .row-span-2 {
                    grid-row: span 2/span 2;
                }

                .row-span-full {
                    grid-row: 1/-1;
                }

                .row-start-1 {
                    grid-row-start: 1;
                }

                .row-start-2 {
                    grid-row-start: 2;
                }

                .row-start-3 {
                    grid-row-start: 3;
                }

                .row-start-auto {
                    grid-row-start: auto;
                }

                .row-end-1 {
                    grid-row-end: 1;
                }

                .row-end-2 {
                    grid-row-end: 2;
                }

                .row-end-3 {
                    grid-row-end: 3;
                }

                .row-end-auto {
                    grid-row-end: auto;
                }

                @media (min-width: 320px) {
                    .xs\:row-auto {
                        grid-row: auto;
                    }

                    .xs\:row-span-1 {
                        grid-row: span 1/span 1;
                    }

                    .xs\:row-span-2 {
                        grid-row: span 2/span 2;
                    }

                    .xs\:row-span-full {
                        grid-row: 1/-1;
                    }

                    .xs\:row-start-1 {
                        grid-row-start: 1;
                    }

                    .xs\:row-start-2 {
                        grid-row-start: 2;
                    }

                    .xs\:row-start-3 {
                        grid-row-start: 3;
                    }

                    .xs\:row-start-auto {
                        grid-row-start: auto;
                    }

                    .xs\:row-end-1 {
                        grid-row-end: 1;
                    }

                    .xs\:row-end-2 {
                        grid-row-end: 2;
                    }

                    .xs\:row-end-3 {
                        grid-row-end: 3;
                    }

                    .xs\:row-end-auto {
                        grid-row-end: auto;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:row-auto {
                        grid-row: auto;
                    }

                    .sm\:row-span-1 {
                        grid-row: span 1/span 1;
                    }

                    .sm\:row-span-2 {
                        grid-row: span 2/span 2;
                    }

                    .sm\:row-span-full {
                        grid-row: 1/-1;
                    }

                    .sm\:row-start-1 {
                        grid-row-start: 1;
                    }

                    .sm\:row-start-2 {
                        grid-row-start: 2;
                    }

                    .sm\:row-start-3 {
                        grid-row-start: 3;
                    }

                    .sm\:row-start-auto {
                        grid-row-start: auto;
                    }

                    .sm\:row-end-1 {
                        grid-row-end: 1;
                    }

                    .sm\:row-end-2 {
                        grid-row-end: 2;
                    }

                    .sm\:row-end-3 {
                        grid-row-end: 3;
                    }

                    .sm\:row-end-auto {
                        grid-row-end: auto;
                    }
                }

                @media (min-width: 768px) {
                    .md\:row-auto {
                        grid-row: auto;
                    }

                    .md\:row-span-1 {
                        grid-row: span 1/span 1;
                    }

                    .md\:row-span-2 {
                        grid-row: span 2/span 2;
                    }

                    .md\:row-span-full {
                        grid-row: 1/-1;
                    }

                    .md\:row-start-1 {
                        grid-row-start: 1;
                    }

                    .md\:row-start-2 {
                        grid-row-start: 2;
                    }

                    .md\:row-start-3 {
                        grid-row-start: 3;
                    }

                    .md\:row-start-auto {
                        grid-row-start: auto;
                    }

                    .md\:row-end-1 {
                        grid-row-end: 1;
                    }

                    .md\:row-end-2 {
                        grid-row-end: 2;
                    }

                    .md\:row-end-3 {
                        grid-row-end: 3;
                    }

                    .md\:row-end-auto {
                        grid-row-end: auto;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:row-auto {
                        grid-row: auto;
                    }

                    .lg\:row-span-1 {
                        grid-row: span 1/span 1;
                    }

                    .lg\:row-span-2 {
                        grid-row: span 2/span 2;
                    }

                    .lg\:row-span-full {
                        grid-row: 1/-1;
                    }

                    .lg\:row-start-1 {
                        grid-row-start: 1;
                    }

                    .lg\:row-start-2 {
                        grid-row-start: 2;
                    }

                    .lg\:row-start-3 {
                        grid-row-start: 3;
                    }

                    .lg\:row-start-auto {
                        grid-row-start: auto;
                    }

                    .lg\:row-end-1 {
                        grid-row-end: 1;
                    }

                    .lg\:row-end-2 {
                        grid-row-end: 2;
                    }

                    .lg\:row-end-3 {
                        grid-row-end: 3;
                    }

                    .lg\:row-end-auto {
                        grid-row-end: auto;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:row-auto {
                        grid-row: auto;
                    }

                    .xl\:row-span-1 {
                        grid-row: span 1/span 1;
                    }

                    .xl\:row-span-2 {
                        grid-row: span 2/span 2;
                    }

                    .xl\:row-span-full {
                        grid-row: 1/-1;
                    }

                    .xl\:row-start-1 {
                        grid-row-start: 1;
                    }

                    .xl\:row-start-2 {
                        grid-row-start: 2;
                    }

                    .xl\:row-start-3 {
                        grid-row-start: 3;
                    }

                    .xl\:row-start-auto {
                        grid-row-start: auto;
                    }

                    .xl\:row-end-1 {
                        grid-row-end: 1;
                    }

                    .xl\:row-end-2 {
                        grid-row-end: 2;
                    }

                    .xl\:row-end-3 {
                        grid-row-end: 3;
                    }

                    .xl\:row-end-auto {
                        grid-row-end: auto;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:row-auto {
                        grid-row: auto;
                    }

                    .\32 xl\:row-span-1 {
                        grid-row: span 1/span 1;
                    }

                    .\32 xl\:row-span-2 {
                        grid-row: span 2/span 2;
                    }

                    .\32 xl\:row-span-full {
                        grid-row: 1/-1;
                    }

                    .\32 xl\:row-start-1 {
                        grid-row-start: 1;
                    }

                    .\32 xl\:row-start-2 {
                        grid-row-start: 2;
                    }

                    .\32 xl\:row-start-3 {
                        grid-row-start: 3;
                    }

                    .\32 xl\:row-start-auto {
                        grid-row-start: auto;
                    }

                    .\32 xl\:row-end-1 {
                        grid-row-end: 1;
                    }

                    .\32 xl\:row-end-2 {
                        grid-row-end: 2;
                    }

                    .\32 xl\:row-end-3 {
                        grid-row-end: 3;
                    }

                    .\32 xl\:row-end-auto {
                        grid-row-end: auto;
                    }
                }
            }
        }
    }
}
